.App {
  width: 900px;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  display: flex;
  box-shadow: 0 0 25px rgba(0,0,0,.25);
}

/* RESPONSIVE WIDTHS */
@media only screen and (max-width: 1000px) {
  .App {
    width: 700px;
  }
}
@media only screen and (max-width: 700px) {
  .App {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
}
@media only screen and (max-width: 350px) {
  
}

/* RESPONSIVE HEIGHTS */
@media only screen and (max-height: 400px) {
  .App {
    height: 100vh;
  }
}