.App {
  width: 900px;
  height: 750px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  display: flex;
  box-shadow: 0 0 25px rgba(0,0,0,.25);
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}